/*
	Configuraciones generales. "Mobile First".
*/
/*
	Importamos nuestras fuentes externas:
*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/*
	El asterisco (*) indica que el estilo se aplica a todos los elementos, 
	clases e identificadores.
*/
*{
	box-sizing: border-box;
}
/*
	RECUERDA: Si el nombre no posee una almohadilla (#) o un punto (.) al inicio,
	debe corresponder SÍ O SÍ a algún elemento HTML.
*/
body{
	margin: 0px;
	width: 100%;
	height: auto;
	font-size: 5vw;
	color: #cccccc;
	font-family: "VT323", "Courrier New", monospace;
	overflow-wrap: break-word;
}
img{
	max-width: 100%;
	height: auto;
}
img:hover{
	filter: contrast(1.75);
	filter: brightness(1.75);
}
.spacer{
    aspect-ratio: 900/450;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer1{
    background-image: url("../img/Wavy-border.svg");
}
.layer-top{
    background-image: url("../img/layered-waves-top.svg");
}
.layer-bottom{
    background-image: url("../img/layered-waves-bottom.svg");
}
.logo-img{
	width: 100%;
	max-width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;
}
.logo-grid{
	background-color: black;
	width: 100%;
	flex: 1;
	aspect-ratio: 1/1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-content: center;
	justify-content: center;
	gap: 10pt 10pt;
	margin: 10pt;
	padding: 10pt;
}
.heading-paragraph{
	flex: 1;
	max-width: 100%;
	height: auto;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 10pt;
	padding: 10pt;
}
.main-banner{
	background-color: black;
	width: 100%;
	height: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
}
.banner{
	background-color: #0066ff;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
}
.bg-black{
	background-color: black;
}
.banner-reverse{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-evenly;
	align-content: space-evenly;
}
/*
	Configuraciones para PC/Desktop: (+768px)
*/
@media (min-width: 768px), (orientation: landscape){
	body{
		margin: 0px;
		width: 100%;
		height: auto;
		font-size: 2vw;
		color: #cccccc;
		font-family: "VT323", "Courrier New", monospace;
		overflow-wrap: break-word;
	}
	.logo-img{
		width: 100%;
		max-width: 100%;
		height: auto;
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-content: center;
		justify-items: center;
		align-items: center;
		text-align: center;
		padding: 10pt;
	}
	.main-banner{
		background-color: black;
		width: 100%;
		height: 50%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-evenly;
		align-content: space-evenly;
	}
	.banner{
		background-color: #0066ff;
		width: 100%;
		height: fit-content;
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: space-evenly;
		align-content: space-evenly;
	}
	.banner-reverse{
		width: 100%;
		height: fit-content;
		display: grid;
		grid-template-columns: 50% 50%;
		justify-content: space-evenly;
		align-content: space-evenly;
	}
	.banner-reverse.logo-img{
		order: 1;
	}
	.banner-reverse.heading-paragraph{
		order: 2;
	}
	.heading-paragraph{
		width: 100%;
		height: auto;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 10pt;
		padding: 10pt;
	}
}
